---
// Giscus comments component
// Configure at https://giscus.app/
---

<section class="giscus-comments">
  <script
    src="https://giscus.app/client.js"
    data-repo="brendankowitz/kowitz.net"
    data-repo-id=""
    data-category="Blog Comments"
    data-category-id=""
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</section>

<style>
  .giscus-comments {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid var(--sl-color-gray-5);
  }
</style>
